In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
# uncomment this to read and process all excel files again

tennis_df = pd.DataFrame()
for year in range(2001, 2022):
    
    file = ""
    if year < 2013:
        file = f"{year}.xls"
        print(file)
    else:
        assert(year >= 2013)
        file = f"{year}.xlsx"
        print(file)
    
    year_df = pd.read_excel(file)
    year_df['Year'] = year
    tennis_df = tennis_df.append(year_df)

2001.xls
2002.xls
2003.xls
2004.xls
2005.xls
2006.xls
2007.xls
2008.xls
2009.xls
2010.xls
2011.xls
2012.xls
2013.xlsx

/Users/alexcotignola/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

2014.xlsx
2015.xlsx
2016.xlsx
2017.xlsx
2018.xlsx
2019.xlsx
2020.xlsx
2021.xlsx

In [3]:
tennis_df.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,W1,L1,W2,L2,W3,L3,W4,L4,W5,L5,Wsets,Lsets,Comment,CBW,CBL,GBW,GBL,IWW,IWL,SBW,SBL,Year,B365W,B365L,B&WW,B&WL,EXW,EXL,PSW,PSL,WPts,LPts,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Clement A.,Gaudenzi A.,18.0,101,6.0,7.0,6.0,0.0,6.0,3.0,NaN,NaN,NaN,NaN,2.0,1.0,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Goldstein P.,Jones A.,81.0,442,6.0,4.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Haas T.,Smith L.,23.0,485,6.0,3.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,NaN,NaN,1.12,4.0,1.1,3.5,NaN,NaN,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Henman T.,Rusedski G.,10.0,69,6.0,2.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Hewitt L.,Arthurs W.,7.0,83,6.0,4.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,1.28,3.3,1.12,3.8,NaN,NaN,NaN,NaN,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# file_name = "tennis_data_2001_2021_raw.xlsx"
# tennis_df.to_excel(file_name)

In [5]:
# tennis_df = pd.read_excel(file_name)

In [6]:
tennis_df.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,Loser,WRank,LRank,W1,L1,W2,L2,W3,L3,W4,L4,W5,L5,Wsets,Lsets,Comment,CBW,CBL,GBW,GBL,IWW,IWL,SBW,SBL,Year,B365W,B365L,B&WW,B&WL,EXW,EXL,PSW,PSL,WPts,LPts,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Clement A.,Gaudenzi A.,18.0,101,6.0,7.0,6.0,0.0,6.0,3.0,NaN,NaN,NaN,NaN,2.0,1.0,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Goldstein P.,Jones A.,81.0,442,6.0,4.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Haas T.,Smith L.,23.0,485,6.0,3.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,NaN,NaN,1.12,4.0,1.1,3.5,NaN,NaN,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Henman T.,Rusedski G.,10.0,69,6.0,2.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,3,Hewitt L.,Arthurs W.,7.0,83,6.0,4.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,Completed,1.28,3.3,1.12,3.8,NaN,NaN,NaN,NaN,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# as of right now, don't see these columns as adding much to the model/data
# once we can get this to work with BET365 then we can look at other books
cols_list_drop = ['Best of', 'W1', 'L1',
       'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5', 'Wsets', 'Lsets',
       'Comment', 'CBW', 'CBL', 'GBW', 'GBL', 'IWW', 'IWL', 'SBW', 'SBL',
        'B&WW', 'B&WL', 'EXW', 'EXL', 'PSW', 'PSL',
       'WPts', 'LPts', 'UBW', 'UBL', 'LBW', 'LBL', 'SJW', 'SJL', 'MaxW',
       'MaxL', 'AvgW', 'AvgL']

In [8]:
tennis_df = tennis_df.drop(cols_list_drop, axis=1)

In [9]:
tennis_df.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Winner,Loser,WRank,LRank,Year,B365W,B365L
0,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,Clement A.,Gaudenzi A.,18.0,101,2001,NaN,NaN
1,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,Goldstein P.,Jones A.,81.0,442,2001,NaN,NaN
2,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,Haas T.,Smith L.,23.0,485,2001,NaN,NaN
3,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,Henman T.,Rusedski G.,10.0,69,2001,NaN,NaN
4,1,Adelaide,AAPT Championships,2001-01-01,International,Outdoor,Hard,1st Round,Hewitt L.,Arthurs W.,7.0,83,2001,NaN,NaN

In [10]:
tennis_df.columns

Index(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court', 'Surface',
       'Round', 'Winner', 'Loser', 'WRank', 'LRank', 'Year', 'B365W', 'B365L'],
      dtype='object')

In [11]:
len(tennis_df)

55604

In [12]:
# for year, frame in tennis_df.groupby('Year'):
#     percent_missing = frame.isnull().sum() * 100 / len(frame)
#     missing_value_df = pd.DataFrame({'column_name': frame.columns,
#                                  'percent_missing': percent_missing})
#     print(year)
#     display(missing_value_df)

In [13]:
# dropping all na's because the only NA's were in B365 and in rank - can't run model without either of these
tennis_df = tennis_df.dropna()

In [14]:
# make sure that the drop na worked
percent_missing = tennis_df.isnull().sum() * 100 / len(tennis_df)
missing_value_df = pd.DataFrame({'column_name': tennis_df.columns,
                             'percent_missing': percent_missing})
display(missing_value_df)

           column_name  percent_missing
ATP                ATP              0.0
Location      Location              0.0
Tournament  Tournament              0.0
Date              Date              0.0
Series          Series              0.0
Court            Court              0.0
Surface        Surface              0.0
Round            Round              0.0
Winner          Winner              0.0
Loser            Loser              0.0
WRank            WRank              0.0
LRank            LRank              0.0
Year              Year              0.0
B365W            B365W              0.0
B365L            B365L              0.0

In [15]:
len(tennis_df)

49775

In [16]:
tennis_df.reset_index(inplace=True, drop=True)

In [17]:
tennis_df.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Winner,Loser,WRank,LRank,Year,B365W,B365L
0,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Johansson T.,Pretzsch A.,7.0,133,2002,1.100,6.500
1,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Kafelnikov Y.,Bjorkman J.,6.0,56,2002,1.444,2.625
2,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Koubek S.,Moya C.,41.0,20,2002,2.625,1.444
3,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Pavel A.,Stepanek R.,21.0,150,2002,1.533,2.375
4,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Sampras P.,Stoliarov A.,13.0,107,2002,1.143,5.000

In [18]:
# convert ranks to ints
tennis_df['WRank'] = tennis_df['WRank'].astype(int)
tennis_df['LRank'] = tennis_df['LRank'].astype(int)

In [19]:
tennis_df.dtypes

ATP                    int64
Location              object
Tournament            object
Date          datetime64[ns]
Series                object
Court                 object
Surface               object
Round                 object
Winner                object
Loser                 object
WRank                  int64
LRank                  int64
Year                   int64
B365W                float64
B365L                float64
dtype: object

In [68]:
gary_webber = tennis_df[tennis_df['Tournament']=='Zhuhai Open']
display(gary_webber['Round'].unique())

array(['1st Round', '2nd Round', 'Quarterfinals', 'The Final'],
      dtype=object)

In [71]:
tennis_df.groupby(["Tournament","Round"])["Round"].nunique().head(20)

unique_tournaments = tennis_df['Tournament'].unique()
unique_rounds = tennis_df['Round'].unique()
display(unique_rounds)

for tournament in unique_tournaments:
    tournament_df = tennis_df[tennis_df['Tournament']==tournament]

    # print(tournament)
    # display(tournament_df['Round'].unique())

    fourth_round = tournament_df[tournament_df['Round']=='Semifinals']

    if len(fourth_round)==0:
        print(tournament, "QUARTERFINALS")

array(['1st Round', '2nd Round', '3rd Round', '4th Round',
       'Quarterfinals', 'Semifinals', 'The Final', 'Round Robin'],
      dtype=object)

Queens Club QUARTERFINALS
Zhuhai Open QUARTERFINALS

Drop Queens Club and Zhuhai Open. For every tournament, create a pressure variable with the following values: 1 = The Final, 2 = Semifinals, 3 = Any other round.

In [20]:
# can do more eda with this, already see that the rank of of winners is much more than losers
# and that the betting odds for winners are much better than for losers

In [21]:
tennis_df.describe()

,ATP,WRank,LRank,Year,B365W,B365L
count,49775.000000,49775.000000,49775.000000,49775.000000,49775.000000,49775.000000
mean,32.899186,57.585234,89.045384,2011.441085,1.830607,3.493742
std,17.999209,70.496389,110.395155,5.490757,1.119415,3.397872
min,1.000000,1.000000,1.000000,2002.000000,0.971000,0.967000
25%,19.000000,16.000000,34.000000,2007.000000,1.250000,1.720000
50%,33.000000,41.000000,64.000000,2011.000000,1.500000,2.500000
75%,49.000000,76.000000,103.000000,2016.000000,2.100000,3.750000
max,67.000000,1890.000000,2159.000000,2021.000000,34.000000,67.000000

In [22]:
tennis_df.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Winner,Loser,WRank,LRank,Year,B365W,B365L
0,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Johansson T.,Pretzsch A.,7,133,2002,1.100,6.500
1,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Kafelnikov Y.,Bjorkman J.,6,56,2002,1.444,2.625
2,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Koubek S.,Moya C.,41,20,2002,2.625,1.444
3,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Pavel A.,Stepanek R.,21,150,2002,1.533,2.375
4,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Sampras P.,Stoliarov A.,13,107,2002,1.143,5.000

In [23]:
# need to figure out way to standardize round type, this is valuable info that we can't use right now

In [24]:
display(tennis_df['Round'].unique())

array(['1st Round', '2nd Round', '3rd Round', '4th Round',
       'Quarterfinals', 'Semifinals', 'The Final', 'Round Robin'],
      dtype=object)

In [25]:
# convert European odds into probabilities
# B365 factors in the VIM (how much the book makes)

tennis_df['B365W_prob'] = (1/tennis_df['B365W']).round(3)
tennis_df['B365L_prob'] = (1/tennis_df['B365L']).round(3)
tennis_df['B365_total_prob'] = tennis_df['B365W_prob'] + tennis_df['B365L_prob']
tennis_df['B365_diff_from_1'] = tennis_df['B365_total_prob'] - 1

# This takes VIM out to just get the real probabilities
tennis_df['real_prob_W'] = tennis_df['B365W_prob'] - (tennis_df['B365_diff_from_1']/2)
tennis_df['real_prob_L'] = tennis_df['B365L_prob'] - (tennis_df['B365_diff_from_1']/2)
tennis_df['real_total_prob'] = tennis_df['real_prob_W'] + tennis_df['real_prob_L']
tennis_df['real_diff_from_1'] = tennis_df['real_total_prob'] - 1

In [26]:
tennis_df.head(5)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Winner,Loser,WRank,LRank,Year,B365W,B365L,B365W_prob,B365L_prob,B365_total_prob,B365_diff_from_1,real_prob_W,real_prob_L,real_total_prob,real_diff_from_1
0,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Johansson T.,Pretzsch A.,7,133,2002,1.100,6.500,0.909,0.154,1.063,0.063,0.8775,0.1225,1.0,0.0
1,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Kafelnikov Y.,Bjorkman J.,6,56,2002,1.444,2.625,0.693,0.381,1.074,0.074,0.6560,0.3440,1.0,0.0
2,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Koubek S.,Moya C.,41,20,2002,2.625,1.444,0.381,0.693,1.074,0.074,0.3440,0.6560,1.0,0.0
3,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Pavel A.,Stepanek R.,21,150,2002,1.533,2.375,0.652,0.421,1.073,0.073,0.6155,0.3845,1.0,0.0
4,32,Halle,Gerry Weber Open,2002-06-10,International,Outdoor,Grass,1st Round,Sampras P.,Stoliarov A.,13,107,2002,1.143,5.000,0.875,0.200,1.075,0.075,0.8375,0.1625,1.0,0.0

In [27]:
# isolate higher rank
# isolate loser rank
# locate player in df before time series
# find out percentage in win vs loser column
# find surface and other features

In [28]:
tennis_df_historical = tennis_df.copy()

In [35]:
# creates player dictionary with basic info
def player_dict_generator(name, rank, prob):
    
    player_dict = {}
    player_dict['name'] = name
    player_dict['rank'] = rank
    player_dict['prob'] = prob
    
    return player_dict

In [36]:
# queries into whole dataset to filter so we're only looking at matches of a player before the match of interest
def historical_match_data(player_name, date_of_match):
#     isolated all matches a player has played in (whole dataset)
    player_rank_history = tennis_df_historical.loc[(tennis_df_historical['Winner'] == player_name) | (tennis_df_historical['Loser'] == player_name)]
#     filter this so we're only looking at historical matches

    player_rank_history = player_rank_history.loc[player_rank_history['Date'] < date_of_match]
    
    return player_rank_history

In [37]:
# returns winning percentage for given df
# this function should only be called after historical_match_data()
def winning_percentage(player_df, player_name):
    
#     find where player wins, loses, then get percentage
    appears_winner = len(player_df.loc[player_df['Winner']==player_name])
    appears_loser = len(player_df.loc[player_df['Loser']==player_name])
    assert(appears_winner + appears_loser == len(player_df))
    winning_percentage = appears_winner/len(player_df)
    
    return winning_percentage

In [38]:
# returns multiple winning percentages: based on court type (outdoor, indoor), surface (grass, clay, etc), and series (Grand slam, etc.)
def winning_percentage_stats(player_history, player_name, court_type, surface_type, series_type, last_n_games):
    
#     isolate court type
    player_court_type = player_history.loc[player_history['Court']==court_type]
    
#     assert statements to check we isolated correctly
#     assert(len(set(player_court_type['Court']))==1)
#     assert(set(player_court_type['Court']).pop()==court_type)
    
#     repeat same as above for surface and series
    player_surface_type = player_history.loc[player_history['Surface']==surface_type]
    
#     assert(len(set(player_surface_type['Surface']))==1)
#     assert(set(player_surface_type['Surface']).pop()==surface_type)
    
    player_series_type = player_history.loc[player_history['Series']==series_type]
    
#     assert(len(set(player_series_type['Series']))==1)
#     assert(set(player_series_type['Series']).pop()==series_type)
    
    if (len(player_court_type) < last_n_games) or (len(player_surface_type) < last_n_games) or (len(player_series_type) < last_n_games):
        return (None, None, None)
    else:
    #     put the above dataframes into the winning_percentage() function to calculate winning percentage
    #     based on these factors
        court_type_winning_pct = winning_percentage(
            player_df=player_court_type, 
            player_name=player_name)

        surface_type_winning_pct = winning_percentage(
            player_df=player_surface_type, 
            player_name=player_name)

        series_type_winning_pct = winning_percentage(
            player_df=player_series_type, 
            player_name=player_name)

       # print(player_name, court_type, surface_type, series_type)
    #     display(player_court_type)
    #     display(player_surface_type)
    #     display(player_series_type)

    #     return results as a tuple
        return court_type_winning_pct, surface_type_winning_pct, series_type_winning_pct

In [39]:
# returns a bunch of stats for a player
def player_stats(player, last_n_games, match_date, court_type, surface_type, series_type):
    
#     isolate player name, rank, win prob
    name = player['name']
    rank = player['rank']
    prob = player['prob']
    
#     get player historical data, calculate days since last match
#     player_history = historical_match_data(player_name=name)
    player_history = historical_match_data(
        player_name=name,
        date_of_match=match_date
    )
    
    if len(player_history) < last_n_games:
        return None
        
    else:
    #     .date()
        player_last_match = player_history.iloc[-1]['Date']
        #print(match_date, player_last_match)
        player_days_since_last_match = (match_date - player_last_match).days

    #     find player last n games (to calculate win percentage for recent matches)
        player_last_n_games = player_history[-last_n_games:]

    #     get player win pct
        player_win_pct = winning_percentage(
            player_df=player_last_n_games,
            player_name=name)

    #     get player win percentage on the court the match is on, the sruface type of the match, and the series type
        player_court_type_win_pct, player_surface_type_win_pct, player_series_type_win_pct = winning_percentage_stats(
            player_history=player_history, 
            player_name=name, 
            court_type=court_type,
            surface_type=surface_type,
            series_type=series_type,
            last_n_games=last_n_games,
        )
        
        if (player_court_type_win_pct, player_surface_type_win_pct, player_series_type_win_pct) == (None, None, None):
            return None
        else:
    #     return all this info for the player
            ret_dict = {
                'name':name,
                'rank':rank,
                'prob':prob,
                'days_since_last_match': player_days_since_last_match,
                'win_pct': player_win_pct,
                'court_type_win_pct':player_court_type_win_pct,
                'surface_type_win_pct':player_surface_type_win_pct,
                'series_type_win_pct':player_series_type_win_pct
            }

            return ret_dict

In [40]:
from datetime import date

# this creates the dataset we can use for ML
# with feature engineering

def ML_df_function(df, start_row=None, end_row=None):

#     set up return DF with our new formatted data
#     to find what columns to put for final_df:
#     display(returned_row.keys())
    final_columns = ['ATP', 'Location', 'Tournament', 'Date', 'Year', 'Series', 'Court', 'Surface', 
                     'Round', 'HR_win?', 'diff_rank', 'diff_prob', 'diff_days_since_last_match', 
                     'diff_win_pct', 'diff_court_type_win_pct', 'diff_surface_type_win_pct', 
                     'diff_series_type_win_pct']
    final_df = pd.DataFrame(columns = final_columns)


#     iterate through rows of df, for each row we need to do manipulation
#     IMPORTANT: we are only looking at 5 rows
    for i in range(start_row,end_row):

#         create dictionary to return the new row
        returned_row = {}
        returned_row['ATP'] = df.loc[i,'ATP']
        returned_row['Location'] = df.loc[i,'Location']
        returned_row['Tournament'] = df.loc[i,'Tournament']
        returned_row['Date'] = df.loc[i,'Date']
        returned_row['Year'] = df.loc[i,'Year']
        returned_row['Series'] = df.loc[i,'Series']
        returned_row['Court'] = df.loc[i,'Court']
        returned_row['Surface'] = df.loc[i,'Surface']
        returned_row['Round'] = df.loc[i,'Round']


#         display original df row
#         display(row.to_frame().T)

#         get date of the match
        date_of_match = df.loc[i,'Date']

#         set up information about the winner and loser
        winner = player_dict_generator(
            name=df.loc[i,'Winner'], 
            rank=df.loc[i,'WRank'], 
            prob=df.loc[i,'real_prob_W'])


        loser = player_dict_generator(
            name=df.loc[i,'Loser'], 
            rank=df.loc[i,'LRank'], 
            prob=df.loc[i,'real_prob_L'])


#         figure out the higher and lower rank
        higher_rank = {}
        lower_rank = {}
        if winner['rank'] < loser['rank']:
            higher_rank = winner
            lower_rank = loser
        else:
            higher_rank = loser
            lower_rank = winner



#         get player stats for higher and lower rank
        higher_ranked_player_stats = player_stats(
            player=higher_rank, 
            last_n_games=10,
            match_date = df.loc[i,'Date'],
            court_type=df.loc[i,'Court'],
            surface_type=df.loc[i,'Surface'],
            series_type=df.loc[i,'Series']

        )

        lower_ranked_player_stats = player_stats(
            player=lower_rank, 
            last_n_games=10,
            match_date = df.loc[i,'Date'],
            court_type=df.loc[i,'Court'],
            surface_type=df.loc[i,'Surface'],
            series_type=df.loc[i,'Series']
        )
        
        if (higher_ranked_player_stats == None) or (lower_ranked_player_stats == None):
            i += 1
        else:
    #         display(higher_ranked_player_stats)
    #         display(lower_ranked_player_stats)

    #         for each stat, append this to the returned fr (row to be 
    #         added to new ML df)


            hr_name = higher_ranked_player_stats['name']
    #         print(hr_name)
            winner = df.loc[i,'Winner']
    #         print(winner)

            if hr_name == winner:
                returned_row['HR_win?']=1
            else:
                returned_row['HR_win?']=0

    #         print(hr_name==winner)
    #         deletes name so we are only taking diff on numeric columns
            del higher_ranked_player_stats['name']
            del lower_ranked_player_stats['name']


            value_keys = list(higher_ranked_player_stats.keys())
    #         display(value_keys)
    #         print("VALUES")
            high_rank_list = list(higher_ranked_player_stats.values())
            low_rank_list = list(lower_ranked_player_stats.values())

    #         display(high_rank_list)
    #         display(low_rank_list)
            diffs = [a_i - b_i for a_i, b_i in zip(high_rank_list, low_rank_list)]
    #         print("diffs")
    #         display(diffs)


            for key, diff in zip(value_keys, diffs):
                returned_row[f'diff_{key}'] = diff


            #display(returned_row.keys())
            final_df = final_df.append(returned_row, ignore_index=True)
    return final_df


        
ML_dataframe = ML_df_function(
    df=tennis_df, 
    start_row=0, end_row=len(tennis_df)
)


# Features:

# who won, along with all the drf features
# HRwin? 0 1

#     last 10 winning
#     number days sine last match
#     surface type
#     outdoor vs indoor
#     winning percentage in type of series
#     winning percentage in round
#     How much rank is chancged before match

In [41]:
display(ML_dataframe)

,ATP,Location,Tournament,Date,Year,Series,Court,Surface,Round,HR_win?,diff_rank,diff_prob,diff_days_since_last_match,diff_win_pct,diff_court_type_win_pct,diff_surface_type_win_pct,diff_series_type_win_pct
0,2,Chennai,TATA Open,2003-01-04,2003,International,Outdoor,Hard,Semifinals,0,-60,0.193,0,-0.1,0.269231,0.017544,0.223529
1,2,Chennai,TATA Open,2003-01-05,2003,International,Outdoor,Hard,The Final,1,-67,0.442,0,0.1,0.200000,0.090278,0.220779
2,3,Doha,Qatar Exxon Mobil Open,2003-01-02,2003,International,Outdoor,Hard,Quarterfinals,0,-36,0.492,0,0.3,-0.150000,0.077922,-0.042857
3,3,Doha,Qatar Exxon Mobil Open,2003-01-02,2003,International,Outdoor,Hard,Quarterfinals,1,-26,0.350,-1,0.5,0.352941,0.250000,0.450000
4,3,Doha,Qatar Exxon Mobil Open,2003-01-03,2003,International,Outdoor,Hard,Semifinals,0,-10,0.000,0,0.4,0.111111,0.117057,0.095238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26403,58,Vienna,Vienna Open,2021-10-29,2021,ATP500,Indoor,Hard,Quarterfinals,1,-8,0.550,0,0.1,0.063190,0.093270,0.057143
26404,58,Vienna,Vienna Open,2021-10-29,2021,ATP500,Indoor,Hard,Quarterfinals,0,-33,0.147,0,0.1,0.141176,0.094798,0.157386
26405,58,Vienna,Vienna Open,2021-10-29,2021,ATP500,Indoor,Hard,Quarterfinals,0,-3,-0.381,0,-0.1,-0.157895,-0.239740,-0.185606
26406,58,Vienna,Vienna Open,2021-10-30,2021,ATP500,Indoor,Hard,Semifinals,0,-38,0.550,0,0.2,0.259719,0.223908,0.314888
26407,58,Vienna,Vienna Open,2021-10-31,2021,ATP500,Indoor,Hard,The Final,1,-45,0.611,0,0.1,0.153333,0.201462,0.241067

In [ ]:
HR_win_col = ML_dataframe.pop('HR_win?')
ML_dataframe.insert(len(ML_dataframe.columns), 'HR_win?', HR_win_col)

diff_prob_col = ML_dataframe.pop('diff_prob')
ML_dataframe.insert(len(ML_dataframe.columns), 'diff_prob', diff_prob_col)

In [ ]:
display(ML_dataframe)

,ATP,Location,Tournament,Date,Year,Series,Court,Surface,Round,diff_rank,diff_days_since_last_match,diff_win_pct,diff_court_type_win_pct,diff_surface_type_win_pct,diff_series_type_win_pct,HR_win?,diff_prob
0,30,Paris,French Open,2004-05-28,2004,Grand Slam,Outdoor,Clay,3rd Round,-6,0,-0.2,-0.048237,-0.075472,-0.088235,0,-0.124
1,30,Paris,French Open,2004-05-28,2004,Grand Slam,Outdoor,Clay,3rd Round,-70,0,0.3,0.315408,0.230159,0.199405,1,0.816
2,30,Paris,French Open,2004-05-28,2004,Grand Slam,Outdoor,Clay,3rd Round,-77,0,0.4,0.300572,0.353476,0.177778,1,0.841
3,30,Paris,French Open,2004-05-28,2004,Grand Slam,Outdoor,Clay,3rd Round,-67,0,0.2,0.053750,-0.041667,0.133929,0,0.079
4,30,Paris,French Open,2004-05-29,2004,Grand Slam,Outdoor,Clay,3rd Round,-21,0,0.3,0.203934,0.400000,0.062500,1,0.602

In [49]:
import numpy as np
np.percentile(tennis_df["LRank"], 90)

168.0

In [42]:
ML_dataframe.to_csv("complete_data.csv")

In [ ]:
# can either just focus on higher rank, and get info about his past and ooppondent's past
# or can take the difference in odds, which require us breaking each player into 2 rows, creating a regression on each, then subtracting the odds difference

# think the higher rank version is better option, focuses on just 1 regression and 1 decision

In [ ]:
# tennis_df.to_excel("tennis_data_2001_2021.xlsx")